@page
@model Taxationapi.Public.Pages.AboutModel
@{
    ViewData["Title"] = "FAQ";
}
<h1>FAQ</h1>

<h2>Why build a taxation API?</h2>
<p>I'm a world citizen, and I believe countries are here to serve us, not the other way around. We pay a tax to get a product, and we want that to be transparent.</p>
<p>This API is meant to make the global taxation system transparent, by showing all tax rates.</p>

<h2>How is the data collected & how trustworthy is the data?</h2>
<p>The data is collected by non-taxation experts on Google. I've been going through every single country on Google, and categorizing the data.</p>
<p>The data is then crowd-sources by all users. Everyone can make a pull request with changes, making the data better and better over time.</p>

<h2>Can I use the API for X?</h2>
<p>Yes, anything. No limits.</p>

<h2>Is the API free to use?</h2>
<p>Yea, for now. I'll probably add some monthly costs for larger users (think 1000s of requests).</p>
<p>I haven't added a sign-up where you get a token for all requests. So for now, please use the useragent header.</p>

<h2>Who are you?</h2>
I'm Lars Holdgaard. Serial entrepreneur. <a href="/Contact">Contact me</a>.