@page
@{
    ViewData["Title"] = "Capital gains tax API";
}

<div class="text-center">
    <h1 class="display-4">Capital gains tax API</h1>

<p>This API supports getting all data about capital gains per country.</p>
</div>

<h2>What is capital gains?</h2>
<p>
    Capital gains is the profit (or loss) you get from selling investements. The classic example is that you sell a stock, and you need to pay a tax on your profits.</p>
<h2>How can this API help me with capital gains</h2>
<p>You can use this API in two ways to help with capital gains tax:</p>
<ul>
    <li>You can see the total capital gains tax per country</li>
    <li>You can calculate the effective tax, including the capital gains tax, for each country in the world</li>
</ul>
