@page
@{
    ViewData["Title"] = "Contact";
}
<h1>Contact</h1>

<p>You can contact me below.</p>

<ul>
    <li>Email: mcoroklo@gmail.com</li>
    <li><a href="https://twitter.com/LarsHoldgaard">Twitter</a></li>
    <li><a href="https://www.instagram.com/larsholdgaard/">Instagram</a></li>
    <li><a href="https://www.linkedin.com/in/holdgaard/">LinkedIn</a></li>
</ul>



