@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Contact</h1>

<p>Use this page to detail your site's privacy policy.</p>




<a href="https://twitter.com/LarsHoldgaard">Twitter</a>
<a href="https://www.instagram.com/larsholdgaard/">Instagram</a>
<a href="https://www.linkedin.com/in/holdgaard/">LinkedIn</a>
