@page
@{
    ViewData["Title"] = "Contact";
}
<h1>Contact us</h1>

<p>If you have any questions about the taxation API, you can contact me on the channels below:</p>

<ul>
    <li><b>Email</b>: mcoroklo@gmail.com</li>
    <li><a href="https://twitter.com/LarsHoldgaard">Twitter</a></li>
    <li><a href="https://www.instagram.com/larsholdgaard/">Instagram</a></li>
    <li><a href="https://www.linkedin.com/in/holdgaard/">LinkedIn</a></li>
</ul>



