@page
@{
    ViewData["Title"] = "Corporate tax API";
}
<div class="text-center">
    <h1 class="display-4">Corporate tax API</h1>

<p>This API supports getting all data about corporate tax per country.</p>
</div>
<h2>What is corporate tax?</h2>
<p>
    When a company has a profit, they have to pay a tax on the profits. While a company can deduct their expenses, the goal of a company is in the end to make a profit. This API helps calculate how much they're paying.'
</p>
<h2>How can this API help me with corporate tax</h2>
<p>You can use this API in two ways to help with capital gains tax:</p>
<ul>
    <li>You can see the total corporate tax per country</li>
    <li>You can calculate the effective tax, including the corporate tax, for each country in the world</li>
</ul>
