@page
@model Taxationapi.Public.Pages.IncomeTaxModel
@{
    ViewData["Title"] = "Income tax API";
}
<div class="text-center">
    <h1 class="display-4">Income tax API</h1>
    <p>This is an API that can calculate the income tax per country</p>
</div>


<h2>What is income tax?</h2>
<p>
    When you have an income in a country, you need to pay tax in most countries. The tax is typically divided into a set of brackets, meaning the lower you earn the less tax you pay. 
</p>
<p>You also need to distinguish between local income (income earned in your own country) VS foreign income (money earned abroad). In some countries this is not taxed equally.</p>
<h2>How can this API help me with income tax</h2>
<p>You can use this API in two ways to help with income tax:</p>
<ul>
    <li>You can see the total income tax per country</li>
    <li>You can calculate the effective tax, including the income tax, for each country in the world</li>
</ul>
