@page
@model Taxationapi.Public.Pages.IncomeTaxModel
@{
    ViewData["Title"] = "Income tax API";
}
<div class="text-center">
    <h1 class="display-4">Income tax API</h1>
    <p>This is an API that can calculate the income tax per country</p>
</div>
