@page
@model IndexModel
@{
    ViewData["Title"] = "Taxation API";
}

<div class="text-center">
    <h1 class="display-4">Taxation API - an API for getting tax data</h1>
    <p>Welcome! With this API, you're able to integrate all sorts of taxation data into your application.</p>
</div>
<br />
<div class="container">
    <h2>What can I use the API for?</h2>
    <p> You can use the API to collect the following data about each country:</p>
    <ul>
        <li>Income tax (and the brackets)</li>
        <li>Capital gains tax</li>
        <li>Corporate tax</li>
        <li>Wealth tax</li>
        <li>Lump sum</li>
    </ul>

    <p>That means you can use the API for any kind of application, where you need data about taxation.</p>

    <h2>Calculating effective taxation</h2>
    <p>The API can also be used to calculate effective tax. The API supports you can provide a range of inputs (i.e. yearly income, capital gains and corporate profits) and then it calculates the actual profit depending on the country you live in.</p>

    <h2>More details</h2>
    <ul>
        <li><a href="/IncomeTax">Income tax API</a></li>
        <li><a href="/CorporateTax">Corporate tax API</a></li>
        <li><a href="/CapitalGainsTax">Capital gains tax API</a></li>
        <li><a href="/WealthTax">Wealth tax API</a></li>
        <li><a href="/Lumpsum">Lumpsum tax API</a></li>
    </ul>
</div>