@page
@{
    ViewData["Title"] = "Lump sum tax API";
}

<div class="text-center">
    <h1 class="display-4">Lump sum tax API</h1>

    <p>This is an API that can calculate the lump sum tax per country</p>
</div>



<h2>What is lump sum tax?</h2>
<p>In most countries, the tax you need to pay is calculated on a percentage basis. However, some countries (i.e. Greece and Italy), offers that you can pay a yearly fixed fee. This is useful for individuals with high net-worth, to cap the overall tax.</p>
<h2>How can this API help me with lump sum tax</h2>
<p>You can use this API in two ways to help with lump sum tax:</p>
<ul>
    <li>You can see all countries with a lump sum tax possibility</li>
    <li>You can calculate the effective tax, and see if lump sum tax makes sense depending on inputs</li>
</ul>
