@page
@{
    ViewData["Title"] = "Lump sum tax API";
}
<h1>Lumpsump tax API</h1>

<p>You can contact me below.</p>


<div class="text-center">
    <h1 class="display-4">lump sum tax API</h1>

    <p>This is an API that can calculate the lump sum tax per country</p>
</div>
