@page
@{
    ViewData["Title"] = "Wealth tax API";
}
<div class="text-center">
    <h1 class="display-4">Wealth tax API</h1>

    <p>This is an API that can calculate the wealth tax per country</p>
</div>


<h2>What is wealth tax?</h2>
<p>
    In a few countries, rich individuals has to pay a yearly tax on all their assets. Unlike most taxes, this is not calculated as a yearly income/profit, but on the assets alone.
</p>

<h2>How can this API help me with wealth tax</h2>
<p>You can use this API in two ways to help with wealth taax:</p>
<ul>
    <li>You can see all countries which has a form of wealth tax</li>
    <li>You can calculate the effective tax, including the wealth tax, for each country in the world</li>
</ul>
