@page
@{
    ViewData["Title"] = "Wealth tax API";
}
<div class="text-center">
    <h1 class="display-4">Wealth tax API</h1>

    <p>This is an API that can calculate the wealth tax per country</p>
</div>
